<div class="container">
	<div class="row"> 
		<div class="col-md-12">
			<div class="text-right">
				<%= link_to 'New Blog Create', new_blog_path, :class=>"btn btn-default" %>
			</div>
		</div>
	  <div class="col-lg-8">
			<div id="after_search"></div>
			<div id="befor_search">
				<%= render 'blog_index1' %>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well">
			  <h4>Blog Search</h4>
			  <div class="input-group">
			    <%= form_tag blogs_path, method: 'get', remote: true do %>
					  <%= text_field_tag :search_title, params[:search_title], :class=>"form-control"%>

					  <%= submit_tag "Search", :name => nil, :class=>"btn btn-default" %>
					<% end -%>
					</br>
			    <%= form_tag blogs_path, method: 'get', remote: true do %>
					  <%= date_field_tag :search_date, params[:search_date]%>
					  <%= submit_tag "Search", :name => nil %>
					  </p>
					<% end -%>
			  </div>
			</div>
		</div>
	  <hr>
	</div>
</div>