<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_blog_path(@blog), :class=>"btn btn-default" %> |
<%= link_to 'Back', blogs_path, :class=>"btn btn-default" %>
<%= link_to 'New Blog Create', new_blog_path, :class=>"btn btn-default" %>
<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@blog.image) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @blog.category.try(:title) %>
</p>


